<div class="ui container">
  <div class="row">
    <form action="/search" id="search_form" method="post">
      <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 search_bar">
      <div class="input-group">
        <input type="text" name="frm_search" id="frm_search" autocomplete="off" class="form-control input-lg" placeholder="{{__ "Search the knowledge base"}}">
				<span class="input-group-btn">
					<button class="btn btn-success btn-lg" id="btn_search" type="submit">{{__ "Search"}}</button>
				</span>
      </div>
        <div id="searchResult" class="hidden col-lg-12">
          <ul class="list-group searchResultList"></ul>
        </div>
    </div>
    </form>
  </div>
  <div class="row"><span></span></div>
  <div class="row"><span></span></div>
  <div class="row"><span></span></div>
  <div class="row"><span></span></div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      {{#if search_term}}
        <div style="margin-top: 30px;">
          <ul class="list-group">
            {{#ifCond routeType '===' 'topic'}}
              <li class="list-group-item list-group-heading">{{__ "Topic"}}: {{search_term}}</li>
            {{else}}
              <li class="list-group-item list-group-heading">{{__ "Results for"}}: {{search_term}}</li>
            {{/ifCond}}
            {{#each search_results}}
              {{#if this.kb_permalink}}
                <li class="list-group-item">
                  <h5>
                    <a href="problem/{{this.kb_permalink}}">{{this.kb_title}}</a>
                    {{#if @root.config.settings.show_published_date}}
                      {{#if @root.config.settings.show_view_count}}
                        <span class="pull-right view_count">&nbsp; / <strong>{{__ "Date"}}:</strong> {{format_date this.kb_published_date}}</span>
                      {{else}}
                        <span class="pull-right view_count"><strong>{{__ "Date"}}:</strong> {{format_date this.kb_published_date}}</span>
                      {{/if}}
                    {{/if}}
                    {{#if @root.config.settings.show_view_count}}
                      <span class="pull-right view_count"><strong>{{__ "View count"}}:</strong> {{view_count this.kb_viewcount}}</span>
                    {{/if}}
                  </h5>
                </li>
              {{else}}
                <li class="list-group-item">
                  <h5>
                    <a href="problem/{{this._id}}">{{this.kb_title}}</a>
                    {{#if @root.config.settings.show_published_date}}
                      {{#if @root.config.settings.show_view_count}}
                        <span class="pull-right view_count">&nbsp; / <strong>{{__ "Date"}}:</strong> {{format_date this.kb_published_date}}</span>
                      {{else}}
                        <span class="pull-right view_count"><strong>{{__ "Date"}}:</strong> {{format_date this.kb_published_date}}</span>
                      {{/if}}
                    {{/if}}
                    {{#if @root.config.settings.show_view_count}}
                      <span class="pull-right view_count"><strong>{{__ "View count"}}: </strong>{{view_count this.kb_viewcount}}</span>
                    {{/if}}
                  </h5>
                </li>
              {{/if}}
            {{else}}
              <li class="list-group-item">
                <h5>{{__ "No results found"}}</h5>
              </li>
            {{/each}}
          </ul>
        </div>
      {{else}}
        {{#if config.settings.show_top_article}}
          <div style="margin-top: 30px;">
            <ul class="list-group">
              <li class="list-group-item list-group-heading">{{__ "Top articles"}}</li>
              {{#each top_results}}
                <li class="list-group-item">
                  <h5>
                    {{#if kb_permalink}}
                      <a href="problem/{{this.kb_permalink}}">{{this.kb_title}}</a>
                    {{else}}
                      <a href="problem/{{this._id}}">{{this.kb_title}}</a>
                    {{/if}}
                    {{#if @root.config.settings.show_published_date}}
                      {{#if @root.config.settings.show_view_count}}
                        <span class="pull-right view_count">&nbsp; / <strong>{{__ "Date"}}:</strong> {{format_date this.kb_published_date}}</span>
                      {{else}}
                        <span class="pull-right view_count"><strong>{{__ "Date"}}:</strong> {{format_date this.kb_published_date}}</span>
                      {{/if}}
                    {{/if}}
                    {{#if @root.config.settings.show_view_count}}
                      <span class="pull-right view_count"><strong>{{__ "View count"}}:</strong> {{view_count this.kb_viewcount}}</span>
                    {{/if}}
                    {{#if this.kb_password}}
                      <span class="pull-right view_count" style="padding-right: 5px;"><i class="fa fa-key"></i></span>
                    {{/if}}
                  </h5>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>