<style type="text/css">
body.pushable>.pusher{
  background: #111111;
}
</style>
<div class="ui main container" id="problemContainer">
  <div class="row">
    <form action="/search" id="search_form" method="post">
      <div class="col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-2 search_bar">
      <div class="input-group">
        <input type="text" name="frm_search" id="frm_search" autocomplete="off" class="form-control input-lg" placeholder="{{__ "Search the knowledge base"}}">
				<span class="input-group-btn">
					<button class="btn btn-success btn-lg" id="btn_search" type="submit">&nbsp;&nbsp;搜索&nbsp;&nbsp;</button>
				</span>
      </div>
        <div id="searchResult" class="hidden col-lg-12">
          <ul class="list-group searchResultList"></ul>
        </div>
    </div>
    </form>
  </div>
  <div class="row">
    <div class="sixteen wide colum problemList">
      <h1 class="problemTitle">常见问题</h1>
      {{#if config.settings.show_top_article}}
        <div class="ui middle aligned divided list">
          {{#each top_results}}
            <div class="item">
              {{#if kb_permalink}}
                <a href="problem/{{this.kb_permalink}}">{{this.kb_title}}</a>
              {{else}}
                <a href="problem/{{this._id}}">{{this.kb_title}}</a>
              {{/if}}

              <div class="right floated content">
                  {{#if @root.config.settings.show_published_date}}
                    {{#if @root.config.settings.show_view_count}}
                      <span class="pull-right view_count">&nbsp; / <strong>{{__ "Date"}}:</strong> {{format_date this.kb_published_date}}</span>
                    {{else}}
                      <span class="pull-right view_count"><strong>{{__ "Date"}}:</strong> {{format_date this.kb_published_date}}</span>
                    {{/if}}
                  {{/if}}    
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>

  </div>
</div>
