<div class="col-md-12">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ol class="breadcrumb">
        <li><a href="{{app_context}}/solutions">{{__ "Orgnization"}}({{result.orgID}})</a></li>
        <li><a href="{{app_context}}/solutions/{{result.orgID}}">{{__ "All Solutions"}}</a></li>
        <li class="active">{{__ "New solution"}}</li>
      </ol>
      <h1>{{__ "New solution"}}</h1>
      <form method="post" id="edit_form" action="{{app_context}}/solutions/{{result.orgID}}/insert" data-toggle="validator">
        <div class="form-group">
          <label>{{__ "AlertID"}} *</label>
          <input type="text" class="form-control" name="new_alertId" required>
        </div>
        <div class="form-group">
          <label>{{__ "OpenKBURL"}} *</label>
          <input type="text" class="form-control" name="new_openKB" required>
        </div>
        <div class="form-group">
          <label>{{__ "AlertPanelURL"}} *</label>
          <input type="text" class="form-control" name="new_alertPanel" required>
        </div>
        <div class="form-group">
          <div class="pull-right">
            <button type="submit" class="btn btn-primary">{{__ "Create new solution"}}</button>
          </div>
        </div>
    </div>
  </div>
</div>
